
<div class="game-detail-container" fxLayout="row wrap" fxLayoutGap="2rem" fxLayoutAlign="center center">
    <div class="game-image" fxFlex="40">
      <img [src]="game.image" alt="{{ game.title }} image">
    </div>
  
    <div class="game-info" fxFlex="50" fxLayout="column" fxLayoutGap="1rem">
      <h2>{{ game.title }}</h2>
      <p>{{ game.description }}</p>
      <div class="rating-stars">
        <ng-container *ngFor="let star of fullStars">&#9733;</ng-container>
        <ng-container *ngIf="halfStar">&#9733;</ng-container>
        <ng-container *ngFor="let star of emptyStars">&#9734;</ng-container>
      </div>
      <div class="price">
        Price: {{ game.price }}$
      </div>
      <button mat-raised-button color="primary" (click)="addToCart()">Add to Cart</button>
    </div>
  
    <div class="game-reviews" fxFlex="100">
      <h3>Reviews</h3>
      <mat-card *ngFor="let review of game.reviews" class="review-card">
        <mat-card-title>{{ review.email || review.username }}</mat-card-title>
        <mat-card-content>
          <ng-container *ngIf="editingReview?.id !== review.id">
            <p>{{ review.comment }}</p>
            <span>Rating: {{ review.rating }} / 5</span>
            <div *ngIf="isLoggedIn && review.user_id === currentUserId" style="margin-top: 8px;">
              <button mat-button color="primary" (click)="startEdit(review)">Edit</button>
              <button mat-button color="warn" (click)="deleteReview(review.id!)">Delete</button>
            </div>
          </ng-container>
          <ng-container *ngIf="editingReview?.id === review.id">
            <mat-form-field appearance="fill">
              <textarea matInput [(ngModel)]="editingReview.comment"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-select [(ngModel)]="editingReview.rating">
                <mat-option *ngFor="let r of [5, 4, 3, 2, 1]" [value]="r">{{ r }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-button color="primary" (click)="saveEdit()">Save</button>
              <button mat-button (click)="cancelEdit()">Cancel</button>
            </div>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="isLoggedIn" fxFlex="100" class="add-review">
      <h3>Add Your Review</h3>
      <mat-form-field appearance="fill">
        <mat-label>Your Comment</mat-label>
        <textarea matInput [(ngModel)]="newReview.comment"></textarea>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Rating</mat-label>
        <mat-select [(ngModel)]="newReview.rating">
          <mat-option *ngFor="let r of [5, 4, 3, 2, 1]" [value]="r">{{ r }}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <button mat-raised-button color="accent" (click)="submitReview()">Submit Review</button>
    </div>
    
    <div *ngIf="!isLoggedIn" fxFlex="100" class="login-reminder">
      <p><i>You need to be logged in to leave a review.</i></p>
    </div>
    
</div>
  